.logo a {
    font-family: 'Lobster', sans-serif;
}

@media only screen and (max-width:640px) {
    .Header {
        flex-direction: column;
    }

    .Header .content {
        flex-wrap: wrap;
    }

    .Header .content .border-l {
        border: 0;
        padding-left: 0;
    }
}