.logo {
    font-family: 'Lobster', sans-serif;
}

@media only screen and (max-width:640px) {
    .Header {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .Header .content {
        flex-wrap: wrap;
        width: fit-content;
    }

    .Header .content .border-l {
        border: 0;
        padding-left: 0;
    }
}